.Header{
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;
  font-size: 1.5rem;
  font-family: Krub;
  font-weight: 600;
  color: #4E4955;
  margin: 0.5rem;

  & p {
    margin: unset;
  }

  .Logo-and-Title{
    margin: unset;
    margin-left: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    color: black;

    & img{
      height: 3rem;
      width: 3rem;
    }
  }

  .Header-Page-Links{
    margin: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  .Search-and-User{
    margin: unset;
    margin-right: 1rem;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;

    .vertical-line{
      padding-right: 1rem;
      border-right: 1.5px solid black;
      height: 2.5rem;
    }

    & img{
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}